@page
@model GrapnApisSolution.Pages.TeamsMeetingModel
@{
    ViewData["Title"] = "Create Teams Event";
}

<style>
      body {
        padding: 20px 0;
        background: #f2f5f8;
      }

      .headerTop{
          margin-bottom: 10px;
      }
 </style>


<div class="container row" style="
    background: #005F86;
    color: white;
    padding: 5px;
text-align: center;
font-size: 20px;
    margin-bottom: 20px;
">@ViewData["Title"]</div>


@if(ViewData["OutlookUrl"] != null)
{
    <script type="text/javascript">
        alert('@ViewData["OutlookUrl"]');
        window.location.href = "/Success";
    </script>
}


<div class="text-center">
    
</div>
<form method="post">
<div class="container row" style="box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; padding:20px;">
    
    <div class="row headerTop">
    <div class="col-2">
        <label class="fw-bold">Subject:</label>
    </div>
    <div class="col-6">
        <input asp-for=TeamsMeetingEvent.Subject class="form-control" type="text" />
    </div>
    <div class="col-4">
    </div>
    </div>

    <div class="row headerTop">
    <div class="col-2">
        <label class="fw-bold">Body</label>
    </div>
    <div class="col-6">
        <textarea asp-for=TeamsMeetingEvent.Body class="form-control"></textarea>
    </div>
    <div class="col-4">
    </div>
    </div>

    <div class="row headerTop">
    <div class="col-2">
        <label class="fw-bold">Start Date:</label>
    </div>
    <div class="col-6">
        <input asp-for=TeamsMeetingEvent.StartDate class="form-control" asp-format="{0:yyyy-MM-ddTHH:mm}" />
    </div>
    <div class="col-4">
    </div>
    </div>

    <div class="row headerTop">
    <div class="col-2">
        <label class="fw-bold">End Date:</label>
    </div>
    <div class="col-6">
        <input asp-for=TeamsMeetingEvent.EndDate class="form-control" asp-format="{0:yyyy-MM-ddTHH:mm}" />
    </div>
    <div class="col-4">
    </div>
    </div>

    <div class="row headerTop">
    <div class="col-2">
        <label class="fw-bold">Attendee:</label>
    </div>
    <div class="col-6">
        <input asp-for=TeamsMeetingEvent.EmailId class="form-control" placeholder="Enter email address" type="text" />
    </div>
    <div class="col-4">
    </div>
    </div>
</div>

<div class="container row" style="padding-top: 10px">
    <div class="col-5">

    </div>
    <div class="col-2 headerTop">
        <input type="submit" value="Create an Event" class="btn form-control" style="background:#658D1B;color:white"/>
    </div>
    <div class="col-5">

    </div>
</div>
</form>

